/Desktop/Git_hw_01.06.2022/manual.md/
/Desktop/Pull/GitInstructionWorkshop_2022_06_01/
/Desktop/Python/HW/HW_Seminar_3/Learning_python_/
/Desktop/Python/HW/HW_Seminar_3/Task_1.py/
/Desktop/Python/Seminar_1/HW_Seminar_1/Learning_python/
/Desktop/Python/Seminar_4/gittest/